.commit-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.commit-container:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.commit-container p {
    margin: 5px 0;
    color: #333;
}

.commit-container p span, .commit-container p a {
    font-weight: bold;
}
