.container {    
    flex-direction: column;    
    background-color: white;
    min-height: 100%;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}